
log_level: "debug"
instance_id: 1

server:
  port: 8080
  shutdown_timeout: 100ms

storage:
  buffer_size: 100

# для внутреннего использования
  postgres:
    host: "localhost"
    port: 5432
    user: "user"
    password: "password"
    db_name: "test"    
    insert_timeout: 50
    read_timeout: 50

# пример конфигурации для одиночного Redis
  redis:
    type: "single"
    host: "localhost"
    port: 6379
    insert_timeout: 50
    read_timeout: 50

# пример конфигурации для кластерного Redis
  # redis:
  #   type: "cluster"
  #   insert_timeout: 50
  #   read_timeout: 50
  #   addrs:
  #     - "localhost:7001"
  #     - "localhost:7002"
  #     - "localhost:7003"
  #     - "localhost:7004"
  #     - "localhost:7005"
  #     - "localhost:7006"