name: Check, Lint, Test and Build

on:
  push:
    branches:
      - main

jobs:
    audit:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
    
        - name: Set up Go
          uses: actions/setup-go@v5
          with:
            go-version: '1.24'
            
        - name: Verify dependencies && check go.mod
          run: make check

        - name: Install linters
          run: make install-linters

        - name: Run linters
          run: make lint

    test:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4

          - name: Set up Go
            uses: actions/setup-go@v5
            with:
              go-version: '1.24'

          - name: Test
            run: go test -gcflags="-l" -race -v ./...

     # тестовый билд образа
    build:
      runs-on: ubuntu-latest     
      steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: docker build . -t pull_request:$(date +%s)

   # далее здесь будут pytests и обновление стенда