name: go vet test

on:
  push:

jobs:
    audit:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
    
        - name: Set up Go
          uses: actions/setup-go@v4
          with:
            go-version: '1.24'
            
        - name: Verify dependencies && check go.mod
          run: make check

        - name: Install linters
          run: make install-linters

        - name: Run linters
          run: make lint

    test:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4

          - name: Set up Go
            uses: actions/setup-go@v4
            with:
              go-version: '1.24'

          - name: Test
            run: go test -gcflags="-l" -race -v ./...
    